* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
}

header {
    background-color: #91d9db;
    font-size: xx-large;
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

header h1 {
    margin-right: 80px;
}

main {
    background: #91d9db;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

input {
    border: none;
    height: 50px;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    width: 200px;
}

select {
    font-size: 40px;
    border: none;
    background: none;
    color: rgb(23, 143, 173);
    margin-left: 20px;
    margin-right: 20px;
}

button {
    background: none;
    font-size:xx-large;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    color:rgb(23, 143, 173);
    cursor: pointer;
}

